@font-face {
  font-family: TTLakes-Medium;
  src: url(../assets/fonts/TTLakes-Medium.woff); }

body {
  margin: 0;
  font-family: TTLakes-Medium, sans-serif;
  font-size: 16px; }

.menu {
  padding: 0; }

.sidebar {
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .sidebar__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    height: 100vh;
    -webkit-box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    padding-left: 16px; }
  .sidebar__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 80px;
    margin-top: 20px; }
  .sidebar__navigation-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style-type: none;
    padding: 0; }
  .sidebar__navigation-item {
    padding-top: 12px;
    padding-bottom: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .sidebar__navigation-item:hover {
    color: #7E7E82;
    cursor: pointer;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    content: "";
    background-image: url(../assets/images/highlight.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
    position: relative;
    left: -5%;
    padding-left: 5%; }
  .sidebar__navigation-link, .sidebar__navigation-link:visited {
    width: 100%;
    text-decoration: none;
    color: #1B1C21; }
  .sidebar__navigation-link:hover, .sidebar__navigation-link:active {
    color: #7E7E82; }
  .sidebar__footer {
    margin-top: auto;
    margin-bottom: 32px; }
  .sidebar__feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px; }
  .sidebar__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px;
    padding-top: 16px;
    padding-bottom: 40px; }
  .sidebar__contacts-link, .sidebar__contacts-link:visited, .sidebar__contacts-link:active, .sidebar__contacts-link:hover {
    text-decoration: none;
    color: #1B1C21; }
  .sidebar__phone {
    font-weight: 900;
    font-size: 24px; }
  .sidebar__languanes {
    border: none;
    background: none;
    padding: 0;
    font-family: TTLakes-Medium, sans-serif;
    font-size: 16px;
    cursor: pointer; }
  .sidebar__languanes-button {
    border: none;
    background: none;
    padding: 0;
    font-family: TTLakes-Medium, sans-serif;
    font-size: 16px;
    cursor: pointer; }
  .sidebar__languanes-button:hover {
    color: #7E7E82; }

.header__closeBurger-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FF3E79;
  border: none;
  cursor: pointer; }
  .button:hover {
    -webkit-animation: phone-outer 1.5s infinite;
    animation: phone-outer 1.5s infinite; }

@-webkit-keyframes phone-outer {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  33.3333% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  66.6666% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes phone-outer {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  33.3333% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  66.6666% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
  .button__close {
    background-image: url(../assets/images/icons/close.svg); }
  .button__search {
    background-image: url(../assets/images/icons/search.svg); }
  .button__phone {
    background-image: url(../assets/images/icons/phone.svg); }
  .button__chat {
    background-image: url(../assets/images/icons/chat.svg); }
  .button__profile {
    background-image: url(../assets/images/icons/profile.svg); }

.overlay {
  position: relative;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  -webkit-filter: blur(10px);
  filter: blur(10px); }
