@font-face {
    font-family: TTLakes-Medium;
    src: url(../assets/fonts/TTLakes-Medium.woff);
}

body {
    margin: 0;
    font-family: TTLakes-Medium, sans-serif;
    font-size: 16px;
}

.overlay {
    position: relative;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    filter: blur(10px);
}

.sidebar__body {
    max-width: 320px;
    width: 100%;
    height: 100vh;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.sidebar {
    min-width: 320px;
}

.inner_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 14px;
    margin: auto;
}

.sidebar__header {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 20px;
}

@keyframes phone-outer {
    0% {
      transform: translate3d(0, 0, 0) scale(1);
    }
    33.3333% {
      transform: translate3d(0, 0, 0) scale(1.1);
    }
    66.6666% {
      transform: translate3d(0, 0, 0) scale(1);
    }
    100% {
      transform: translate3d(0, 0, 0) scale(1);
    }
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    border: none;
    cursor: pointer;
}

.button:hover {
    animation: phone-outer 1.5s infinite;
}

.button__close {
    background-image: url(../assets/images/icons/close.svg);
}

.button__search {
    background-image: url(../assets/images/icons/search.svg);
}

menu {
    padding-left: 0;
}

.header__closeBurger-logo {
    display: flex;
    gap: 16px;
    align-items: center;
}

.sidebar__navigation-menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.sidebar__navigation-item {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
}

.sidebar__navigation-item:hover {
    color: #7E7E82;
    cursor: pointer;
    transition: .2s;
    content: "";
    background-image: url(../assets/images/highlight.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
    position: relative;
    left: -5%;
    padding-left: 5%;
}

.sidebar__navigation-link,
.sidebar__navigation-link:visited {
    width: 100%;
    text-decoration: none;
    color: #1B1C21;
}

.sidebar__navigation-link:hover,
.sidebar__navigation-link:active {
    color: #7E7E82;
}

.sidebar__footer {
    margin-top: auto;
    margin-bottom: 32px;
}

.sidebar__feedback {
    display: flex;
    gap: 24px;
}

.button__phone {
    background-image: url(../assets/images/icons/phone.svg)
}

.button__chat {
    background-image: url(../assets/images/icons/chat.svg);
}

.button__profile {
    background-image: url(../assets/images/icons/profile.svg);
}

.sidebar__contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 16px;
    padding-bottom: 40px;
}

.sidebar__contacts-link,
.sidebar__contacts-link:visited,
.sidebar__contacts-link:active,
.sidebar__contacts-link:hover {
    text-decoration: none;
    color: #1B1C21;
}

.sidebar__phone {
    font-weight: 900;
    font-size: 24px;
}

.sidebar__languanes-button {
    border: none;
    background: none;
    padding: 0;
    font-family: TTLakes-Medium, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.sidebar__languanes-button:hover {
    color: #7E7E82;
}